#main{
    background-image: url(https://i.pinimg.com/736x/b5/12/6e/b5126efc5cc9805077255a1db30110b1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}